body{
    margin: 0%;
}
.caja{
    background-image: url(../img/img-1.jpg);
    height: 600px;
    margin: 10px;
    background-size: cover;
}
.cajabarra{
    display: flex;
    justify-content: flex-end; 
    padding: 20px;
}
.cajatitulo{
    display: grid;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}
.caja2{
    background-color: rgb(170, 169, 169);
    text-align: center;
}
.caja2articulo{
    margin: 20px;
    display: grid;
    height: 600px;
    grid-template-rows: 50% 50%;
    box-shadow: 3px 3px 15px gray;
}
.caja2imagen img{
    margin: 0px;
    height: 100%;
    width: 100%; 
    object-fit: cover;
}
.caja2titulo{
    background: white;
    display: grid;
    align-content: center;
}

.cajaacerca{
    text-align: center;
}
.cajaacercaimagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cajaacercatexto p{
    text-align: justify;
    padding: 10px;
}
.cajasuscribirse{
    background-color: rgb(145, 142, 142);
    text-align: center;
    display: grid; 
    padding-top: 50px;
    padding-bottom: 50px;
    justify-items: center;
}
.cajasuscribirse h1{
    margin-bottom: 0%;
}
.cajasuscribirse input{
    margin: 10px;
    padding: 20px;
    border: 2px solid white;
    background: rgb(145, 142, 142);
    box-sizing: border-box;
}
.cajasuscribirse button{
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    size: 15px;
}
.cajarrss{
    text-align: center;
    padding-top:50px ;
    padding-bottom: 50px;

}
.cajarrssicono{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.cajarrssicono i{
    color: white;
    background: rgb(145, 142, 142);
    margin-right: 20px;
    width: 20px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width:768px){
    .caja2{

        padding-top: 100px;
        padding-bottom: 150px;
    }
    .caja2panel{

        display: flex;
        flex-direction: row; 
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-around;
    }
    .caja2articulo{

        width: 350px;

    }
    .cajaacerca{
        display: flex;
    }
    .cajaacercatexto{
        width: 50%;
        padding:70px;
        padding-top:280px; 
    }
    .cajasuscribirse input{
        width: 600px;
    }
    .cajasuscribirse button{
        width: 200px;
    }
}
